@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

/* Font Classes */
.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

/*BODY*/
body {
  background-color: rgb(239, 236, 236);
  background-color: rgb(230, 230, 230);
  /* background-color: rgb(225, 225, 225); */
}
:root[class~="dark"] body {
  background-color: #222222;
}

/*SHARED SIDEBAR TEXT COLOR*/
.sidebar-text-color {
  color: rgb(239, 236, 236);
  /* color: rgb(218, 214, 214); */
}
:root[class~="dark"] .sidebar-text-color {
  color: rgb(239, 236, 236);
}

/*COMPONENTS*/
.card,
.drawer {
  background-color: rgb(245, 244, 244);
  /* background-color: rgb(225, 225, 225); */
}
:root[class~="dark"] .card,
:root[class~="dark"] .drawer {
  background-color: #2d2c2c;
}

/*BOREDR*/
.border-color {
  border-color: #e0e0e0;
  border-color: #c0bbbb;
}
:root[class~="dark"] .border-color {
  border-color: #444444;
}
.border-color-login {
  border-color: #e0e0e0;
  border-color: #c0bbbb;
  border-color: whiteAlpha.700;
}
:root[class~="dark"] .border-color-login {
  border-color: #323131;
  border-color: #c0bbbb;
  border-color: whiteAlpha.700;
  /* border-color: #396b9c; */
}

/*HOTEL MANAGER THEME*/
.hotel-sidebar-color {
  background-color: #00585a;
}
:root[class~="dark"] .hotel-sidebar-color {
  background-color: #034041;
}

.hotel-selected-items {
  background-color: #009688;
}
:root[class~="dark"] .hotel-selected-items {
  background-color: #047f73;
}

.hotel-not-selected-items:hover {
  background-color: #b2dfdb;
  color: #000000;
}
:root[class~="dark"] .hotel-not-selected-items:hover {
  background-color: #a0c5c2;
  color: #000000;
}

/*HOTEL BUTTONS*/
.hotel-button-color {
  background-color: #00585a;
  color: rgb(245, 244, 244);
}
:root[class~="dark"] .hotel-button-color {
  background-color: #093d39;
  background-color: #034041;
  color: rgb(245, 244, 244);
}

.hotel-sort-button-color {
  background-color: #b2dfdb;
  color: #00585a;
}
:root[class~="dark"] .hotel-sort-button-color {
  background-color: #a0c5c2;
  color: #034041;
}

.hotel-accent-button {
  color: #009688;
  border-color: #009688;
}
:root[class~="dark"] .hotel-accent-button {
  color: #047f73;
  border-color: #047f73;
  color: #009688;
  border-color: #009688;
}

.hotel-change-avatar {
  color: #009688;
}

/*ROUTE MANAGER THEME*/
.route-sidebar-color {
  background-color: #053345;
}
:root[class~="dark"] .route-sidebar-color {
  background-color: #052938;
}

.route-selected-items {
  background-color: #e84f0b;
}
:root[class~="dark"] .route-selected-items {
  background-color: #df440d;
}

.route-not-selected-items:hover {
  background-color: #ffccbc;
  color: #000000;
}
:root[class~="dark"] .route-not-selected-items:hover {
  background-color: #efbdae;
  color: #000000;
}

/*TRAIN BUTTONS*/
.train-button-color {
  background-color: #e84f0b;
  color: rgb(245, 244, 244);
}
:root[class~="dark"] .train-button-color {
  background-color: #df440d;
  color: rgb(245, 244, 244);
}

.train-secondary-button-color {
  background-color: #ffccbc;
  color: #e84f0b;
}
:root[class~="dark"] .train-secondary-button-color {
  background-color: #efbdae;
  color: #df440d;
}

.timeline-color {
  background-color: #053345;
  color: rgb(245, 244, 244);
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
:root[class~="dark"] .timeline-color {
  /* background-color: #052938; */
  /* color: rgb(245, 244, 244); */
  background-color: rgb(245, 244, 244);
  color: #052938;
  font-weight: bold;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.train-change-avatar {
  color: #df440d;
}

/*AIRLINE OWNER THEME*/
.airline-sidebar-color {
  background-color: #2c2875;
}
:root[class~="dark"] .airline-sidebar-color {
  background-color: #25225f;
}

.airline-selected-items {
  background-color: #737fe8;
}
:root[class~="dark"] .airline-selected-items {
  background-color: #616bc6;
}

.airline-not-selected-items:hover {
  background-color: #b6c2ff;
  color: #000000;
}
:root[class~="dark"] .airline-not-selected-items:hover {
  background-color: #a3b3ff;
  color: #000000;
}

/*Airline BUTTONS*/
.airline-button-color {
  background-color: #2c2875;
  color: rgb(245, 244, 244);
}
:root[class~="dark"] .airline-button-color {
  background-color: #616bc6;
  color: rgb(245, 244, 244);
}

.airline-secondary-button-color {
  background-color: #b6c2ff;
  color: #737fe8;
}
:root[class~="dark"] .airline-secondary-button-color {
  background-color: #a3b3ff;
  color: #616bc6;
}
.airline-change-avatar {
  color: #2c2875;
}
:root[class~="dark"] .airline-change-avatar {
  color: #a3b3ff;
}

/*CAR OFFICE MANAGER THEME*/
.car-sidebar-color {
  background-color: #293d5a;
}
:root[class~="dark"] .car-sidebar-color {
  background-color: #23334a;
}

.car-selected-items {
  background-color: #4a6b9a;
}
:root[class~="dark"] .car-selected-items {
  background-color: #405b81;
}

.car-not-selected-items:hover {
  background-color: #90a1b9;
  background-color: #cad5e2;

  color: #000000;
}
:root[class~="dark"] .car-not-selected-items:hover {
  background-color: #90a1b9;
  background-color: #a9b3bc;
  color: #000000;
}

/*CAR BUTTONS*/
.car-button-color {
  background-color: #4a6b9a;
  color: rgb(245, 244, 244);
}
:root[class~="dark"] .car-button-color {
  background-color: #405b81;
  color: rgb(245, 244, 244);
}

.car-secondary-button-color {
  background-color: #4a6b9a;
  color: #cad5e2;
}
:root[class~="dark"] .car-secondary-button-color {
  background-color: #405b81;
  color: #a9b3bc;
}
.car-secondary2-button-color {
  color: #4a6b9a;
  background-color: #cad5e2;
}
:root[class~="dark"] .car-secondary2-button-color {
  color: #405b81;
  background-color: #a9b3bc;
}

.car-change-avatar {
  color: #293d5a;
}
:root[class~="dark"] .car-change-avatar {
  color: #cad5e2;
}

/*DEFAULT THEME (Keeping your original theme as default)*/
/* .sidebar-color {
  background-color: #00585A;
}
:root[class~="dark"] .sidebar-color {
  background-color: #034041;
} */

/* .sidebar-selected-items {
  background-color: #009688;
}
:root[class~="dark"] .sidebar-selected-items {
  background-color: #047f73;
}

.sidebar-not-selected-items:hover {
  background-color: #b2dfdb;
  color: #000000;
}
:root[class~=dark] .sidebar-not-selected-items:hover {
  background-color: #a0c5c2;
  color: #000000;
} */

/*TEXT*/
.text-color {
  color: gray.700;
}
:root[class~="dark"] .text-color {
  color: gray.300;
}
.secondary-text-color {
  color: gray.500;
}
:root[class~="dark"] .secondary-text-color {
  color: gray.400;
}

/* Custom Scrollbar Styling */
.drawer::-webkit-scrollbar {
  width: 6px;
}

.drawer::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.drawer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.drawer::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* For Firefox */
.drawer {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Hide default password reveal button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-strong-password-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
